API_TOKEN=
GEOAPIFY_KEY=
OWNER_ID=
DATABASE_URL=postgresql://postgres:password@localhost:5432/leadfinder

# Необязательные
DEFAULT_CITY=Алматы
MAX_PLACES=1500
# DATABASE_SSL=false
# NODE_ENV=production
